.gbs-toggle-group-control {
    width: 100%;
    border: 1px solid #1e1e1e !important;

    &.gbs-valign {
        .dashicons-align-pull-left,
        .dashicons-align-pull-right {
            transform: rotate(90deg);
        }
    }
}

.wp-block-gutenlayouts-slide {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    &:hover {
        border-color: #2271b1;
    }
    .slide-image.has-placeholder {
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }
}

.gbs-note {
    font-style: italic;
    font-size: 12px;
    color: #555;
    margin-top: 10px;
}
