p.gutenlayouts-help-note {
    margin: 0;
    padding-top: 15px;
    font-size: 13px;
    font-style: italic;
    color: #848484;

    &.top-note {
        padding-top: 0;
        padding-bottom: 15px;
    }
}

.cm-theme {
    border: 1px solid #dddddd;
}

.gutenlayouts-bottom-wrapper {
    margin-top: 15px;
}
