

.gl-counter-title {
    &:focus {
        outline: none;
    }
}

.gl-media-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px dashed #ccc;
    background: #f9f9f9;
}
