// flex
.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

// Icon preview container
.gutenlayouts-icon-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height: auto;
    min-height: 160px;
    margin-bottom: 12px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='1' fill='%23CBCBCB' opacity='.6'/%3E%3C/svg%3E");
    background-size: 12px 12px;
    background-position: center center;
    color: rgb(51, 51, 51);
}

// settings
.gutenlayouts-icon-settings {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    .gutenlayouts-icon-settings__dropdown {
        position: relative;
        &-toggle {
            width: 100%;
            gap: 12px !important;
            padding-left: 4px !important;
        }
        &-more {
            position: absolute;
            transition: opacity 0.1s ease-in-out;
            opacity: 0;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            .gutenlayouts-icon-settings__dropdown-more {
                opacity: 1;
            }
        }
        .gutenlayouts-icon-settings__indicator {
            background-color: #f3f3f3;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 32px;
            padding: 0;
            &.disabled {
                background: #fff linear-gradient(-45deg, #0000 48%, #ddd 0, #ddd 52%, #0000 0);
                display: inline-block;
                box-shadow: inset 0 0 0 1px #0003;
            }
        }
        .gutenlayouts-icon-settings__dropdown-label {
            text-transform: capitalize;
        }
    }
}

// content
.wp-block-gutenlayouts-icon {
    .icon-container {
        line-height: 0;
    }
}
