.wp-block-gutenlayouts-tabs {
    .tab-item {
        position: relative !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: none;
        z-index: 1;
        &.show {
            display: block;
        }
    }
    .tab-item {
        transform: none;
    }
}
