.wp-block-gutenlayouts-map {
    border: 1px solid transparent;
    transition: all 0.3s ease;
    padding: 0;
    border-radius: 3px;
    box-sizing: border-box;
    &:hover {
        border-color: #007cba;
        padding: 10px;
    }
}
