.wp-block-gutenlayouts-map {
    overflow: hidden;
    iframe {
        width: 100%;
        height: var(--desk-height, 400px);
        box-sizing: border-box;
        border-width: var(--bwidth);
        border-style: var(--bstyle);
        border-color: var(--bcolor);
        border-radius: var(--radius);
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        iframe {
            height: var(--tab-height, 300px);
        }
    }

    // mobile view
    @media (max-width: 767px) {
        iframe {
            height: var(--mob-height, 200px);
        }
    }
}
