
// Editor specific overrides
.gutenlayouts-pro-toggle {
    padding: 10px;
    margin-bottom: 20px;

    .toggle-content-wrapper {
        padding: 20px;
        background: #fafafa;
        min-height: 100px;
    }
}
