.wp-block-button.gutenlayouts-btn-icon {
    .wp-block-button__link {
        gap: var(--gutenlayouts-icon-gap);
        &:after {
            content: '';
            width: var(--gutenlayouts-icon-size);
            height: var(--gutenlayouts-icon-size);
            mask-image: var(--gutenlayouts-icon-url);
            mask-position: center;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: currentColor;
        }
    }
}