:root {
    --gutenlayouts-icon-url: none;
    --gutenlayouts-icon-size: 1em;
    --gutenlayouts-icon-gap: 8px;
}

.wp-block-button.gutenlayouts-btn-icon {
    .wp-block-button__link {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: var(--gutenlayouts-icon-gap) !important;
        &::after {
            content: "" !important;
            display: inline-block !important;
            width: var(--gutenlayouts-icon-size, 1em) !important;
            height: var(--gutenlayouts-icon-size, 1em) !important;
            background-color: currentColor !important;
            -webkit-mask-image: var(--gutenlayouts-icon-url) !important;
            mask-image: var(--gutenlayouts-icon-url) !important;
            -webkit-mask-size: contain !important;
            mask-size: contain !important;
            -webkit-mask-repeat: no-repeat !important;
            mask-repeat: no-repeat !important;
            -webkit-mask-position: center !important;
            mask-position: center !important;
            flex-shrink: 0 !important;
        }
    }

    &.gutenlayouts-icon-before {
        .wp-block-button__link {
            flex-direction: row-reverse;
        }
    }
}