.wp-block-button.gutenlayouts-btn-icon {
    .wp-block-button__link {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: var(--gutenlayouts-icon-gap) !important;
        svg {
            fill: currentColor;
            content: '' !important;
            display: inline-block !important;
            width: var(--gutenlayouts-icon-size, 1em) !important;
            height: var(--gutenlayouts-icon-size, 1em) !important;
        }
    }

    &.gutenlayouts-icon-before {
        .wp-block-button__link {
            flex-direction: row-reverse;
        }
    }
}
